/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    outline: none;
    text-decoration: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset Closed */

:root {
    --primary: #ddd;
    background: #010101;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    height: 3000px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: peru;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: lightseagreen;
    font-style: normal;
}

.navbar .navbar-nav a {
    color: #ddd;
    display: inline-block;
    margin: 0.7rem 0.5rem 0;
}

.navbar .navbar-nav a:hover {
    color: cadetblue;
}

.navbar .navbar-nav a::after {
    display: block;
    content: '';
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid;
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
    transition: 0.2s linear;
}



.navbar .navbar-extra a {
    color: #ddd;
    margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
    color: cadetblue;
}

#menu {
    display: none;
}


/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #ddd;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
        transition: 0.3s;
    }

    .navbar .navbar-nav a {
        color: #010101;
        display: block;
        margin: 5rem 1.5rem 5rem;
        padding: 0.rem;
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.4);
    } 


}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}